html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html,body,.feed {
    width:100%;
    height:100%;
    overflow:hidden;
    position: relative;
}
.feed {
    display: flex;
    background: url('/no-signal.png') no-repeat center center;
    background-size: cover;
}
.video {
    width: 100vw;
}
.webcam-cta {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.toggle-cardboard {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.toggle-cardboard.is-active {
    opacity: 0.3;
}
.toggle-cardboard ~ .video:nth-child(3) {
    display: none;
}
.toggle-cardboard.is-active > svg > path {
    fill: #ad8762;
}
.toggle-cardboard.is-active ~ .video {
    width: 50vw;
}
.toggle-cardboard.is-active ~ .video:nth-child(3) {
    display: block;
}
.toggle-cardboard:hover > svg > path {
    fill: #ad8762;
}
.play-video {
    background: black;
}
@media only screen
and (max-device-width: 823px)
and (orientation: landscape) {
    .toggle-cardboard > svg > path {
        fill: #ad8762;
    }
}
.hide {
    display: none;
}
